:root{
  --color: black;
  --color2: #fff;
  --color3: ;
  --color4: ;
  --color5: ;
}


body{
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5,h6{
  font-weight: 900;
  color: var(--color);
}